
.container{
max-width: 80rem;
margin: auto;
}


.portafolio_project{   
    flex-direction: row;
}


.portafolio-project-details{
    width: 45%;   
    height: 100%;
}



.portafolio-project-image{
    width: 50%;
    margin: auto;
}

